/* === CLEARFIX === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === CUSTOM FONTS === */

@font-face {
    font-family: BluuNext-Bold;
    src: url(fonts/BluuNext-Bold.otf) format("opentype");
}

@font-face {
    font-family: BluuNext-Bolditalic;
    src: url(fonts/BluuNext-Bolditalic.otf) format("opentype");
}

@font-face {
    font-family: BluuNext-Titling;
    src: url(fonts/BluuNext-Titling.otf) format("opentype");
}

@font-face {
    font-family: SofiaPro-Main;
    src: url(fonts/SofiaPro-Light.otf) format("opentype");
}

/* === VARIABLES === */

:root {
    --mainFont: "SofiaPro-Main", sans-serif;
    --titleFont: "BluuNext-Titling", sans-serif;
    --boldFont: "BluuNext-Bold", sans-serif;
    --boldItalicFont: "BluuNext-Bolditalic", sans-serif;

    --white: #f9f4f2;
    --lilac: #6b63b5;
    --purple: #514a92;
    --gray: #9fa1ad;
    --midnightBlue: #10141b;
    --haleNavy: #242633;
}

body {
    font-family: var(--mainFont);
    font-size: 16px;
    color: var(--white);
    background-color: var(--midnightBlue);
}

/* === MENUBOX === */

.menuBox {
    width: 100vw;
    height: 94px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid var(--gray);
}

.menuBox__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.menuBox__menu--active {
    display: block;
}

.menuBox__menu--color {
    background-color: var(--midnightBlue);
    z-index: 2;
}

.menuBox__button {
    margin: 35px 0 30px 32px;
    border: none;
    background: transparent;
}

.menuBox__icon {
    width: 25px;
    height: 25px;
}

.menuBox__list {
    border-top: 1px solid var(--gray);
    padding-top: 15px;
    list-style-type: none;
}

.menuBox__item {
    font-size: 18px;
    font-family: var(--boldFont);
    padding: 15px 15px 15px 32px;
    text-transform: uppercase;
    animation: slideMenuRight 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menuBox__link {
    color: inherit;
    text-decoration: none;
}

.menuBox__link:hover,
.menuBox__link:active {
    color: var(--lilac);
}

.menuBox__logo {
    width: 50px;
    height: 50px;
}

/* === HEROBOX === */

.heroBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 0;
}

.heroBox__title {
    font-family: var(--mainFont);
    text-align: center;
}

.heroBox__button {
    border: 1em solid transparent;
    border-radius: 3em;
    margin: 2em 0;
    background-color: var(--purple);
    color: var(--white);
    font-family: var(--titleFont);
    padding: 0 3em;
    letter-spacing: 0.2em;
}

.logoBox__img {
    width: 100%;
}

/* === HOMESLIDER === */

.homeSlider {
    display: flex;
    flex-direction: column;
    position: relative;
}

.homeSlider__link {
    color: var(--white);
}

.homeSlider__picture {
    position: relative;
    z-index: 0;
    opacity: 70%;
    width: 100%;
}

.homeSlider__category,
.homeSlider__headline {
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.homeSlider__category {
    bottom: 3em;
    left: 2.3em;
    font-size: 1em;
    font-family: var(--boldFont);
}

.homeSlider__headline {
    font-size: 1.5em;
    font-family: var(--titleFont);
    margin: -1.5em 1.5em;
}
/* === MAINSLIDER === */

.sliderButton {
    display: flex;
    margin: 3em;
}

.sliderButton > .sliderButton__item {
    color: var(--white);
    opacity: 80%;
}

.sliderButton > .sliderButton__item ~ .sliderButton__item {
    opacity: 30%;
}

.sliderButton__line {
    height: 0.1em;
    width: 15em;
    opacity: 30%;
    margin-top: 0.4em;
}

/* === FANCLUBCONTENT === */

.fanclubContent {
    padding-bottom: 4em;
}

.fanclubContent__picture {
    width: 100%;
}

.fanclubContent__category,
.fanclubContent__headline,
.fanclubContent__underline {
    text-align: end;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.fanclubContent__category {
    bottom: -3.3em;
    right: 2.3em;
    font-size: 1em;
    font-family: var(--boldFont);
}

.fanclubContent__headline {
    font-size: 1.5em;
    font-family: var(--titleFont);
    margin: -1.5em 1.5em;
}

.fanclubContent__underline {
    font-family: var(--mainfont);
    margin: 2em 2em;
}

.newsletter__button {
        border: 1em solid transparent;
        border-radius: 3em;
        margin: 2em 8em;
        background-color: var(--purple);
        color: var(--white);
        font-family: var(--titleFont);
        padding: 0 3em;
        letter-spacing: 0.2em;
        width: 60%;
        text-align: center;
}

/* === FOUNDERSCONTENT === */

.foundersContent__headline,
.foundersContent__underline {
    text-align: start;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.foundersContent__headline {
    font-size: 1.5em;
    font-family: var(--titleFont);
    margin: -1.5em 1.5em;
}

.foundersContent__underline {
    font-family: var(--mainfont);
    margin: 4em 2.2em;
}

.watch__button {
    border: 1em solid transparent;
    border-radius: 3em;
    margin: 7em 2em;
    background-color: var(--purple);
    color: var(--white);
    font-family: var(--titleFont);
    padding: 0 3em;
    letter-spacing: 0.2em;
    width: 60%;
    text-align: center;
}

/* === ANIMATIONS === */

@keyframes slideMenuRight {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}