/* === CLEARFIX === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === CUSTOM FONTS === */

@font-face {
    font-family: BluuNext-Bold;
    src: url(fonts/BluuNext-Bold.otf) format("opentype");
}

@font-face {
    font-family: BluuNext-Bolditalic;
    src: url(fonts/BluuNext-Bolditalic.otf) format("opentype");
}

@font-face {
    font-family: BluuNext-Titling;
    src: url(fonts/BluuNext-Titling.otf) format("opentype");
}

@font-face {
    font-family: SofiaPro-Main;
    src: url(fonts/SofiaPro-Light.otf) format("opentype");
}

/* === VARIABLES === */

:root {
    --mainFont: "SofiaPro-Main", sans-serif;
    --titleFont: "BluuNext-Titling", sans-serif;
    --boldFont: "BluuNext-Bold", sans-serif;
    --boldItalicFont: "BluuNext-Bolditalic", sans-serif;

    --white: #f9f4f2;
    --lilac: #6b63b5;
    --purple: #514a92;
    --gray: #9fa1ad;
    --midnightBlue: #10141b;
    --black: #000000;
    --haleNavy: #242633;
    --lightBurgund:  #b34848;
    --burgund: #752F2F;
    --gryffindorBurgund: #752f2f 50%,#a04141,#b34848;
    --lightBlue: #5fa0ff;
    --deepBlue: #1b3a62;
    --ravenclawBlue: #1b3a62 0,#265caa 70%,#5fa0ff;
    --lightMustard: #b76d00;
    --deepMustard: #6b4605;
    --hufflepuffMustard: #6b4605 50%,#ab6601,#b76d00;
    --green: #083831;
    --deepGreen: #07312a;
    --slytherinGreen: #05241f 50%,#043d34,#083831;
    --goldenHogwart: #b6a571, #cdb373, #e7da9a;
}

/* === HTML / BODY STYLES === */

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
}

body {
    font-family: var(--mainFont);
    font-size: 16px;
    color: var(--white);
    background-color: var(--midnightBlue);
}

/* === MENUBOX === */

.menuBox {
    width: 100vw;
    height: 94px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid var(--gray);
    background: var(--midnightBlue);
    position: fixed;
    z-index: 100;
}

.menuBox__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.menuBox__menu--active {
    display: block;
    height: 0;
}

.menuBox__menu--color {
    height: 100vh;
    background-color: var(--midnightBlue);
    z-index: 2;
}

.menuBox__button {
    margin: 35px 0 30px 32px;
    border: none;
    background: transparent;
}

.menuBox__icon {
    width: 25px;
    height: 25px;
}

.menuBox__list {
    border-top: 1px solid var(--gray);
    padding-top: 15px;
    list-style-type: none;
}

.menuBox__item {
    font-size: 18px;
    font-family: var(--boldFont);
    padding: 15px 15px 15px 32px;
    text-transform: uppercase;
    animation: slideMenuRight 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menuBox__link {
    color: inherit;
    text-decoration: none;
}

.menuBox__link:hover,
.menuBox__link:active {
    color: var(--lilac);
}

.menuBox__logo {
    width: 80px;
    height: 60px;
}

/* === HEROBOX === */

.heroBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 0;
}

.heroBox__title {
    font-family: var(--mainFont);
    text-align: center;
}

.heroBox__button {
    border: 1em solid transparent;
    border-radius: 3em;
    margin: 2em 0;
    background-color: var(--purple);
    color: var(--white);
    font-family: var(--titleFont);
    padding: 0 3em;
    letter-spacing: 0.2em;
    text-decoration: none;
}

.heroBox__button:hover {
    background-color: var(--white);
    color: var(--lilac);
}

.logoBox__img {
    width: 100%;
}

/* === HOMESLIDER === */

.homeSlider {
    position: relative;
    padding-bottom: 50px;
    height: 100%;
}

.homeSlider__link {
    color: var(--white);
    text-decoration: none;
}

.homeSlider__picture {
    width: 100%;
}

.homeSlider__caption {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
    margin-top: -36px;
}

.homeSlider__category {
    font-size: 1em;
    font-family: var(--boldFont);
    display: block;
    margin-top: -34px;
    position: relative;
}

.homeSlider__headline {
    font-size: 1.5em;
    font-family: var(--titleFont);
}

.homeSlider__category,
.homeSlider__headline {
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

/* === MAINSLIDER === */

.sliderButton {
    display: flex;
    margin: 45px 36px;
}

.sliderButton__list {
    display: block;
}

.sliderButton>.sliderButton__item {
    color: var(--white);
    opacity: 80%;
}

.sliderButton>.sliderButton__item~.sliderButton__item {
    opacity: 30%;
}

.sliderButton__line {
    height: 0.1em;
    width: 15em;
    opacity: 30%;
    margin-top: 0.4em;
}

/* === FANCLUBCONTENT === */

.fanclubContent {
    position: relative;
    padding-bottom: 52px;
    height: 100%;
}

.fanclubContent__caption {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 20px;
    margin-top: -54px;
}

.fanclubContent__picture {
    width: 100%;
}

.fanclubContent__category,
.fanclubContent__headline,
.fanclubContent__underline {
    text-align: end;
    cursor: pointer;
    z-index: 1;
}

.fanclubContent__category {
    font-size: 1em;
    font-family: var(--boldFont);
    display: block;
    margin: -14px 0 15px;
    position: relative;
}

.fanclubContent__headline {
    font-size: 1.5em;
    font-family: var(--titleFont);
}

.fanclubContent__underline {
    font-family: var(--mainfont);
    display: block;
    margin-top: 15px;
}

.fanclub__buttonLink {
    display: block;
    border: 1em solid transparent;
    border-radius: 3em;
    background-color: var(--purple);
    color: var(--white);
    font-family: var(--titleFont);
    padding: 0 3em;
    letter-spacing: 0.2em;
    width: auto;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.fanclub__buttonLink:hover {
    background-color: var(--white);
    color: var(--lilac);
}

/* === FOUNDERSCONTENT === */

.foundersContent {
    position: relative;
    padding-bottom: 52px;
    height: 100%;
}

.foundersContent__caption {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
    margin-top: -34px;
}

.foundersContent__picture {
    width: 100%;
}

.foundersContent__category,
.foundersContent__headline,
.foundersContent__underline {
    text-align: start;
    cursor: pointer;
    z-index: 1;
}

.foundersContent__headline {
    font-size: 1.5em;
    font-family: var(--titleFont);
}

.foundersContent__underline {
    font-family: var(--mainfont);
    display: block;
    margin-top: 15px;
}

.founders__buttonLink {
    display: block;
    border: 1em solid transparent;
    border-radius: 3em;
    background-color: var(--purple);
    color: var(--white);
    font-family: var(--titleFont);
    padding: 0 3em;
    letter-spacing: 0.2em;
    width: auto;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.founders__buttonLink:hover {
    background-color: var(--white);
    color: var(--lilac);
}

/* === HOGWARTSLEGACYCONTENT === */

.foundersContent {
    position: relative;
    padding-bottom: 52px;
    height: 100%;
}

.hogwartsLegacyContent__headline,
.hogwartsLegacyContent__underline {
    text-align: end;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.hogwartsLegacyContent__headline {
    font-size: 1.5em;
    font-family: var(--titleFont);
}

.hogwartsLegacyContent__underline {
    font-family: var(--mainfont);
    display: block;
    margin-top: 50px;
}

.connect__button {
    border: 1em solid transparent;
    border-radius: 3em;
    margin: 5em 8em;
    background-color: var(--purple);
    color: var(--white);
    font-family: var(--titleFont);
    padding: 0 3em;
    letter-spacing: 0.2em;
    width: 60%;
    text-align: center;
}

/* === LATESTNEWS === */

.latestNewsContainer {
    padding: 36px 20px;
}

.latestNewsContainer__box {
    display: flex;
}

.latestNewsContainer__textbox {
    width: 60%;
}

.latestNewsContainer__headline {
    font-family: var(--mainFont);
    text-decoration: none;
    color: var(--white);
}

.latestNewsContainer__picture {
    width: 40%;
    border-radius: 0.5em;
    margin-left: 10px;
}

.latestNewsContainer__line {
    color: var(--gray);
    margin: 20px 0;
    opacity: 30%;
}

.latestNewsContainer__more {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.latestNewsContainer__shortline {
    opacity: 40%;
    height: 1px;
    width: 70%;
}

.latestNewsContainer__link {
    color: var(--white);
    text-decoration: none;
    font-family: var(--mainFont);
    text-align: end;
    width: 30%;
}

.latestNewsContainer__link:hover {
    color: var(--lilac);
}

/* === MAGICALFEATURES === */

.magicalFeatures__container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 20px;
}

.magicalFeatures__head {
    font-family: var(--titleFont);
    padding: 20px;
}

.magicalFeatures__content {
    position: relative;
}

.magicalFeatures__picture {
    width: 100%;
    z-index: 0;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 46%, 0 66%);
}

.magicalFeatures__border,
.magicalFeatures__headline {
    cursor: pointer;
}

.magicalFeatures__border {
    margin: 20px;
    border: 1px solid var(--gray);
    z-index: 20;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

.magicalFeatures__headline {
    font-family: var(--titleFont);
    width: 100%;
    text-decoration: none;
    color: var(--white);
    display: block;
    position: relative;
    padding: 0 40px;
    font-size: 1.5em;
    margin: -70px 0 70px;
}

.magicalFeatures__headline:hover {
    color: var(--lilac);
}

/* === MOBILEFOOTER === */

.mobileFooter,
.mobileFooter__logo,
.mobileFooter__list,
.mobileFooter__socialMedia,
.mobileFooter__socialMediaContainer,
.mobileFooter__socialMediaLink {
    display: flex;
}

.mobileFooter,
.mobileFooter__list {
    align-items: center;
    flex-direction: column;
}

.mobileFooter {
    border: 1px solid var(--gray);
}

.mobileFooter__logo,
.mobileFooter__socialMediaContainer,
.mobileFooter__socialMediaLink {
    justify-content: center;
}

.mobileFooter__image {
    width: 25%;
    height: 25%;
}

.mobileFooter,
.mobileFooter__listing,
.mobileFooter__socialMedia,
.mobileFooter__text {
    padding: 20px;
}

.mobileFooter,
.mobileFooter__socialMediaContainer {
    margin: 20px;
}

.mobileFooter__listing {
    width: 80%;
    border-bottom: 1px solid var(--gray);
}

.mobileFooter__list {
    list-style: none;
    cursor: pointer;
    line-height: 2em;
}

.mobileFooter__item:first-child {
    padding: 20px 0;
}

.mobileFooter__link {
    text-decoration: none;
    color: var(--white);
    font-family: var(--mainFont);
}

.mobileFooter__link:hover {
    color: var(--lilac);
}

.mobileFooter__socialMediaContainer {
    align-items: center;
    border-radius: 50%;
    background-color: var(--haleNavy);
    width: 50px;
    height: 50px;
}

.mobileFooter__socialMediaPicture {
    width: 60%;
    height: 60%;
}

.mobileFooter__text {
    font-family: var(--mainFont);
    font-size: 0.8em;
    color: var(--gray);
    text-align: center;
}

/* === MEDIA QUERIES === */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {}

/* Desktop devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {}

/* Extra widescreen devices (4k / tv / huge resolution) */
@media screen and (min-width: 1600px) {}

/* === ANIMATIONS === */

@keyframes slideMenuRight {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}