/* === CELEBRATE === */

.celebrate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.celebrate__underline {
    font-family: var(--mainFont);
    font-size: 15px;
}

.celebrate__headline {
    font-family: var(--titleFont);
    font-size: 55px;
    text-align: center;
    padding: 20px;
}

.celebrate__picture {
    width: 50%;
}

.celebrate__playQuiz {
    text-align: center;
    padding: 80px 30px 30px;
    font-family: var(--mainFont);
    font-size: 20px;
    line-height: 30px;
}

.celebrate__link {
    padding: 10px 40px;
}

.celebrate__link,
.quizChampionship__link {
    border: 1px solid var(--white);
    color: var(--white);
    font-family: var(--titleFont);
}

.celebrate__link,
.quizChampionship__link {
    letter-spacing: 2px;
    border-radius: 30px;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
}

/* === QUIZ CHAMPIONSHIP === */

.quizChampionship {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quizChampionship__picture {
    width: 100%;
    padding: 20px 0;
}

.quizChampionship__headline {
    font-family: var(--titleFont);
    font-size: 26px;
    padding: 20px 30px;
    text-align: end;
}

.quizChampionship__text {
    font-family: var(--mainFont);
    font-size: 16px;
    text-align: end;
    padding: 0 30px;
    line-height: 22px;
}

.quizChampionship__link {
    padding: 10px 30px;
    margin: 30px 30px 40px;
}

/* === ACCEPTANCE LETTER === */

.acceptanceLetter,
.mysteryPin {
    position: relative;
}

.acceptanceLetter__caption,
.mysteryPin {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin-top: -54px;
}

.acceptanceLetter__caption {
    align-items: flex-end;
}

.acceptanceLetter__picture {
    width: 100%;
}

.acceptanceLetter__category,
.acceptanceLetter__headline,
.acceptanceLetter__underline {
    text-align: end;
    cursor: text;
    z-index: 1;
}

.acceptanceLetter__headline {
    font-size: 26px;
    font-family: var(--titleFont);
}

.acceptanceLetter__underline {
    font-family: var(--mainfont);
    display: block;
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
}

.acceptanceLetter__link {
    padding: 10px 40px;
    margin: 30px 0;
}

.acceptanceLetter__link,
.mysteryPin__link {
    border: 1px solid var(--purple);
    border-radius: 30px;
    color: var(--white);
    font-family: var(--titleFont);
    background-color: var(--purple);
    text-decoration: none;
}

.acceptanceLetter__link:hover,
.mysteryPin__link:hover {
    background-color: var(--white);
    color: var(--lilac);
}

/* === MYSTERY PIN === */

.mysteryPin {
    padding: 60px 0;
}

.mysteryPin__caption {
    align-items: flex-start;
    padding-bottom: 20px;
}

.mysteryPin__picture {
    width: 100%;
}

.mysteryPin__category,
.mysteryPin__headline,
.mysteryPin__underline {
    text-align: start;
    cursor: text;
    z-index: 1;
}

.mysteryPin__headline {
    font-size: 26px;
    font-family: var(--titleFont);
    padding: 0 30px;
    margin-top: -54px;
}

.mysteryPin__underline {
    font-family: var(--mainfont);
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
    padding: 0 30px 30px;
}

.mysteryPin__link {
    padding: 10px 40px;
    margin: 50px 30px;
}

/* === MYSTERY PIN === */

.celebrateQuote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.celebrateQuote__mark,
.celebrateQuote__text,
.celebrateQuote__underline {
    text-align: center;
}

.celebrateQuote__text,
.celebrateQuote__underline {
    font-family: var(--mainFont);
}

.celebrateQuote__mark {
    font-size: 80px;
    font-family: var(--titleFont);
}

.celebrateQuote__text {
    font-size: 26px;
    padding: 0 30px 30px;
    line-height: 30px;
    font-style: italic;
}

.celebrateQuote__underline {
    font-size: 12px;
    padding: 0 30px 60px;
}

/* === EXPLORE YOUR HOUSE === */

.exploreHouse {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px 20px;
    text-align: center;
    line-height: 22px;
}

.exploreHouse__title {
    padding: 30px 0;
    font-size: 30px;
    font-family: var(--titleFont);
}

.exploreHouse__title--gry,
.exploreHouse__title--sly,
.exploreHouse__title--rav,
.exploreHouse__title--huf {
   text-decoration: none;
   border-radius: 30px;
   border: 1px solid;
   padding: 10px 30px;
   margin: 40px 0 20px;
}

.exploreHouse__title--gry {
    border-color: var(--burgund);
    color: var(--white);
    background: linear-gradient(0deg,var(--gryffindorBurgund));
}

.exploreHouse__title--gry:hover {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--gryffindorBurgund);
}

.exploreHouse__title--sly {
    border-color: var(--green);
    color: var(--white);
    background: linear-gradient(0deg,var(--slytherinGreen));
}

.exploreHouse__title--sly:hover {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--slytherinGreen);
}

.exploreHouse__title--rav {
    border-color: var(--deepBlue);
    color: var(--white);
    background: linear-gradient(0deg,var(--ravenclawBlue));
}

.exploreHouse__title--rav:hover {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--ravenclawBlue);
}

.exploreHouse__title--huf {
    border-color: var(--deepMustard);
    color: var(--white);
    background: linear-gradient(0deg,var(--hufflepuffMustard));
}

.exploreHouse__title--huf:hover {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--hufflepuffMustard);
}