/* === CLEARFIX === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === CUSTOM FONTS === */

@font-face {
    font-family: BluuNext-Bold;
    src: url(fonts/BluuNext-Bold.otf) format("opentype");
}

@font-face {
    font-family: BluuNext-Bolditalic;
    src: url(fonts/BluuNext-Bolditalic.otf) format("opentype");
}

@font-face {
    font-family: BluuNext-Titling;
    src: url(fonts/BluuNext-Titling.otf) format("opentype");
}

@font-face {
    font-family: SofiaPro-Main;
    src: url(fonts/SofiaPro-Light.otf) format("opentype");
}

/* === VARIABLES === */

:root {
    --mainFont: "SofiaPro-Main", sans-serif;
    --titleFont: "BluuNext-Titling", sans-serif;
    --boldFont: "BluuNext-Bold", sans-serif;
    --boldItalicFont: "BluuNext-Bolditalic", sans-serif;

    --white: #f9f4f2;
    --lilac: #6b63b5;
    --purple: #514a92;
    --gray: #9fa1ad;
    --midnightBlue: #10141b;
    --haleNavy: #242633;
}

/* === HTML / BODY STYLES === */

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
}

body {
    font-family: var(--mainFont);
    font-size: 16px;
    color: var(--white);
    background-color: var(--midnightBlue);
}

/* === QUIZ CHAMPIONSHIP === */

.quizChampionship {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.quizChampionship__title,
.quizChampionship__undertitle {
    text-align: center;
    font-family: var(--titleFont);
}

.quizChampionship__undertitle {
    font-size: 2em;
}

.quizChampionship__points {
    
}

.quizChampionship__container {
    display: flex;
}

.quizChampionship__hourglass {
    position: relative;
    width: 25%;
    display: flex;
}

.quizChampionship__backgroundTopSquare {
    border: 1px solid #752F2F;
    background-color: #752F2F;
    width: 90px;
    height: 34px;
    position: absolute;
    margin: 12px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.quizChampionship__backgroundTopTriangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 28px 45px 0 45px;
    border-color: #752F2F transparent transparent transparent;
    position: absolute;
    margin: 45px 8px;
}

.quizChampionship__backgroundBottomSquare {
    background-color: #752F2F;
    width: 90px;
    height: 130px;
    position: absolute;
    margin: 125px 8px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(0deg,#752f2f,#a04141,#b34848);
}

.quizChampionship__backgroundBottomTriangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 45px 25px 45px;
    border-color: transparent transparent #b34848;
    position: absolute;
    margin: 101px 8px;
}

.quizChampionship__backgroundCrest {
    position: absolute;
    width: 35px;
    height: 35px;
    margin: 20px 35px;
}

.quizChampionship__hourglassPoints {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 220px 20px 0;
}