/* === QUIZ CHAMPIONSHIP === */

.quizChampionship {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.quizChampionship__title,
.quizChampionship__undertitle {
    text-align: center;
    font-family: var(--titleFont);
}

.quizChampionship__undertitle {
    font-size: 2em;
}

.quizChampionshipScores {
    display: flex;
    justify-content: center;
    max-width: 375px;
    margin: 0 auto;
}

.quizChampionshipScores__container {
    width: 25%;
    position: relative;
    display: flex;
}

.quizChampionshipScores__hourglass {
    position: relative;
    width: 105px;
}

.quizChampionshipScores__badgeTopSquare {
    width: 83%;
    height: 34px;
    position: absolute;
    margin: 12px 8px;
    border-radius: 5px 5px 2px 2px;
}

.quizChampionshipScores__badgeTopSquare--gryf {
    border: 1px solid var(--burgund);
    background-color: var(--burgund);
}

.quizChampionshipScores__badgeTopTriangle {
    border-style: solid;
    border-width: 21px 38px 0 38px;
    position: absolute;
    margin: 45px 9px;
}

.quizChampionshipScores__badgeTopTriangle--gryf {
    border-color: var(--burgund) transparent transparent;
}

.quizChampionshipScores__badgeBottomSquare {
    position: absolute;
    border-radius: 2px 2px 5px 5px;
    width: 83%;
}

.quizChampionshipScores__badgeBottomSquare--gryf {
    background-color: var(--burgund);
    height: 40%;
    margin: 135px 8px;
    background: linear-gradient(0deg,var(--gryffindorburgund));
}

.quizChampionshipScores__badgeBottomTriangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}

.quizChampionshipScores__badgeBottomTriangle--gryf {
    margin: 111px 8px;
    border-color: transparent transparent var(--lightburgund);
    border-width: 0 39px 25px;
}

.quizChampionshipScores__crest {
    position: absolute;
    width: 35px;
    height: 35px;
    margin: 20px 35px;
    left: -5px;
}

.quizChampionshipScores__picture {
    height: 42px;
    width: 35px;
}

.quizChampionshipScores__hourglassPoints {
    position: absolute;
    width: 66px;
    bottom: 20px;
    left: 50%;
    margin-left: -33px;
    text-align: center;
}

.quizChampionshipScores__badgeTopSquare--rav {
    border: 1px solid var(--deepblue);
    background-color: var(--deepblue);
}

.quizChampionshipScores__badgeTopTriangle--rav {
    border-color: var(--deepblue) transparent transparent;
}

.quizChampionshipScores__badgeBottomSquare--rav {
    height: 44%;
    margin: 125px 8px;
    background: linear-gradient(0deg,var(--ravenclawblue));
}

.quizChampionshipScores__badgeBottomTriangle--rav {
    border-width: 0 39px 25px;
    border-color: transparent transparent var(--lightblue);
    margin: 101px 8px;
}

.quizChampionshipScores__badgeTopSquare--huf {
    border: 1px solid var(--deepmustard);
    background-color: var(--deepmustard);
}

.quizChampionshipScores__badgeTopTriangle--huf {
    border-color: var(--deepmustard) transparent transparent;
}

.quizChampionshipScores__badgeBottomSquare--huf {
    height: 36%;
    margin: 145px 8px;
    background: linear-gradient(0deg,var(--hufflepuffmustard));
}

.quizChampionshipScores__badgeBottomTriangle--huf {
    border-width: 0 39px 30px;
    border-color: transparent transparent var(--lightmustard);
    margin: 116px 8px;
}

.quizChampionshipScores__badgeTopSquare--sly {
    border: 1px solid var(--deepgreen);
    background-color: var(--deepgreen);
}

.quizChampionshipScores__badgeTopTriangle--sly {
    border-color: var(--deepgreen) transparent transparent;
}

.quizChampionshipScores__badgeBottomSquare--sly {
    height: 42%;
    margin: 130px 8px;
    background: linear-gradient(0deg,var(--slytheringreen));
}

.quizChampionshipScores__badgeBottomTriangle--sly {
    border-width: 0 39px 25px;
    border-color: transparent transparent var(--green);
    margin: 106px 8px;
}